main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 0.7fr 2fr;
    grid-template-areas:
        "screen-bar screen-bar"
        "number-bar operator-bar";

    height: 43rem;
    width: 40rem;
    margin: 4vh auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 6px;
}

#screen-bar {
    grid-area: screen-bar;
    background-color: lightblue;
    border: 2px solid lightgrey;
}

#number-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1.5rem;
    grid-area: number-bar;
    background-color: lightsalmon;
    border: 2px solid lightgrey;
}

#operator-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1.5rem;
    grid-area: operator-bar;
    background-color: lightgreen;
    border: 2px solid lightgrey;
}

#number-bar button {
    padding: 2rem;
    font-size: 1.5rem;
    border: 2px solid lightgrey;
    border-radius: 6px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: all 0.1s ease;
}

#operator-bar button {
    padding: 2rem;
    font-size: 1.5rem;
    border: 2px solid lightgrey;
    border-radius: 6px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: all 0.1s ease;
}

#number-bar button:hover {
    background-color: lightgrey;
    border: 2px solid grey;
}

#operator-bar button:hover {
    background-color: lightgrey;
    border: 2px solid grey;
}

button.zero {
    grid-column: span 2;
}
